<app-header-main></app-header-main>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <a mat-button
       class="menu-button"
       routerLink="/new-invoice"
       routerLinkActive="active"
    (click)="clearInvoice()">New Invoice</a>
    <a mat-button
       class="menu-button"
       routerLink="/preview-invoice"
       routerLinkActive="active"
    (click)="clearInvoice()">Preview Invoice</a>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
